{% extends "base.html" %}
{% block content %}
<div id="content">
  <h2>Create a new poll</h2>
  <form action="/newpoll" method="post">
    <div class="form_settings">
      <script src="/style/addInput.js" language="Javascript" type="text/javascript"></script>
      <p><span>Question to be asked</span><textarea rows="8" cols="50" name="question"></textarea></p>
      <div id="1stDynamicInput"><p><span>Option 1</span><input type="text" name="option" value="" /></p></div>
      <div id="dynamicInput"><p><span>Option 2</span><input type="text" name="option" value="" /></p></div>
      <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="button" value="Add another option" onClick="addInput('dynamicInput');">
      <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Create!" /></p>
    </div>
  </form>
</div>
{% endblock content %}